body {
    touch-action: none;
    font-family: Arial, sans-serif;
    background-color: #240750;
    color: #577B8D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .equalizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slider-container {
    margin: 30px;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 300px;
    height: 30px;
    background: #344C64;
    outline: none;
    border-radius: 30px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #57A6A1;
    cursor: pointer;
    border-radius: 50%;
  }

  #playButton {
    background-color: #57A6A1;
    margin-bottom: 10px;
    border-radius: 20px;
  }