body {
  touch-action: none;
  font-family: Arial, sans-serif;
  background-color: #240750;
  color: #577B8D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.equalizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-container {
  margin: 30px;
  display: flex;
  align-items: center;
}

.note-select {
  margin-right: 10px;
}

.slider {
  margin-left: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 30px;
  background: #344C64;
  outline: none;
  border-radius: 30px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #57A6A1;
  cursor: pointer;
  border-radius: 50%;
}

#playButton {
  margin: 10px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #57A6A1;
  cursor: pointer;
}

#playButton::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f04b"; /* Play icon */
}

#playButton.playing::before {
  content: "\f04c"; /* Pause icon */
}